<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/static/favicon.png" sizes="16x16 24x24 32x32 48x48 64x64" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths mt-2 mb-2">
          <h1 class="is-size-4">Perf Logs Viewer</h1>
        </div>
        <div class="column has-text-right my-auto mr-5">
          <a href="#">Settings</a>
        </div>
      </div>
      <table class="table is-hoverable is-fullwidth">
        <tr>
          <th rowspan="1">Trace ID</th>
          <th rowspan="1">Start Time</th>
          <th colspan="3">Web Server Logs</th>
          <th colspan="3">SQL Logs</th>
        </tr>
        {{ range $trace := .traces }}
        <tr>
          <td ><a href="/detail/{{ $trace.ID }}">{{ $trace.ID }}</a></td>
          <td >{{ $trace.ExecAt.Format "2006-01-02 15:04:05" }}</td>
          <td class="has-text-right">All Servers</td>
          <td class="has-text-right">{{ num $trace.AccessLogTotal }} bytes</td>
          <td>
            <a href="/raw/access/{{ $trace.ID }}">Raw</a>
            <a href="/kataribe/{{ $trace.ID }}">Kataribe</a>
          </td>
          <td class="has-text-right">All Servers</td>
          <td class="has-text-right">{{ num $trace.SQLLogTolal }} bytes</td>
          <td>
            <a href="/raw/sql/{{ $trace.ID }}">Raw</a>
            <a href="/sqlanalyze/{{ $trace.ID }}">Analyze</a>
          </td>
        </tr>
        {{ end }}
      </table>
    </div>
  </body>
</html>
