<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/static/favicon.png" sizes="16x16 24x24 32x32 48x48 64x64" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <body>
      <table class="table is-hoverable">
        <tr>
          <th class="has-text-left" rowspan="1">ID</th>
          <th class="has-text-left" rowspan="1">Start Time</th>
          <th class="has-text-centered" colspan="2">Web Server Logs</th>
          <th class="has-text-centered" colspan="2">SQL Logs</th>
          <th class="has-text-centered" colspan="2">App Logs</th>
          <th class="has-text-centered" colspan="2">Slow Logs</th>
        </tr>
        {{ range $logSet := .logSetList }}
        <tr>
          <td ><a href="/detail/{{ $logSet.ID }}">{{ $logSet.ID }}</a></td>
          <td >{{ $logSet.ExecAt.Format "2006-01-02 15:04:05" }}</td>
          <td class="has-text-right">{{ num $logSet.LogTotal.web }} bytes</td>
          <td>
            <a href="/raw/access/{{ $logSet.ID }}">Raw</a>
            <a href="/uid/{{ $logSet.ID }}">UID</a>
            <a href="/kataribe/{{ $logSet.ID }}">Kataribe</a>
          </td>
          <td class="has-text-right">{{ num $logSet.LogTotal.sql }} bytes</td>
          <td>
            <a href="/raw/sql/{{ $logSet.ID }}">Raw</a>
            <a href="/sqlanalyze/html/{{ $logSet.ID }}">Total</a>
            <a href="/sqlanalyze/{{ $logSet.ID }}">Analyze</a>
          </td>
          <td class="has-text-right">{{ num $logSet.LogTotal.app }} bytes</td>
          <td>
            <a href="/raw/app/{{ $logSet.ID }}">Raw</a>
            <a href="/kataribe-app/{{ $logSet.ID }}">Kataribe</a>
          </td>
          <td class="has-text-right">{{ num $logSet.LogTotal.slow }} bytes</td>
          <td>
            <a href="/raw/slow/{{ $logSet.ID }}">Raw</a>
            <a href="/query-digest/{{ $logSet.ID }}">Digest</a>
          </td>
        </tr>
        {{ end }}
      </table>
  </body>
</html>
