<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/"> Perf Logs Viewer </a>
        </div>
      </nav>

      <table class="table is-hoverable is-fullwidth">
        <tr>
          <th rowspan="2">Trace ID</th>
          <th rowspan="2">実行時刻</th>
          <th colspan="2">Webアクセスログ</th>
          <th colspan="2">SQLログ</th>
        </tr>
        <tr>
          <th>ファイルサイズ</th>
          <th>操作</th>
          <th>ファイルサイズ</th>
          <th>操作</th>
        </tr>
        {{ range $trace := .traces }}
        <tr>
          <td>{{ $trace.ID }}</td>
          <td>{{ $trace.ExecAt.Format "2006-01-02 15:04:05" }}</td>
          <td>{{ $trace.AccessLogSize }}</td>
          <td>
            <a href="#">生ログ</a>
            <a href="#">分析</a>
          </td>
          <td>{{ $trace.SQLLogSize }}</td>
          <td>
            <a href="#">生ログ</a>
            <a href="#">分析</a>
          </td>
        </tr>
        {{ end }}
      </table>
    </div>
  </body>
</html>
